@import './utils/vars';
@import './utils/global-rules';
@import './components/header';
@import './components/logo';
@import './components/navigation';
@import './components/hero';
@import './components/qualities';
@import './components/what-we-do';
@import './components/our-team';
@import './components/clients';
@import './components/footer';
@import './components/modal';
@import './components/filter-buttons';
@import './components/filter-cards';