.footer {
    padding: 60px 0;
    background-color: $secondary-background-color;
}

.footer-cont {
    display: flex;
    align-items: baseline;
}

.logo-bot {
    display: block;
    margin-bottom: 20px;
    color: $secondary-color;
}

.address {
    font-style: normal;
}

.map-link {
    color: $secondary-color;
    transition: color $cubic-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.foot-link {
    color: $footer-links;
    transition: color $cubic-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.foot-item + .foot-item {
    margin-top: 9px;
}

.social-cont {
    margin-left: 70px;
}

.social-call {
    line-height: 1.14;
    text-transform: uppercase;
    color: $secondary-color;
}

.footer-social {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $secondary-color;
}

.footer-form {
    display: flex;
    align-items: flex-end;
    width: 570px;
    margin-left: auto;
}

.footer-field {
    display: flex;
    flex-direction: column;

}

.footer-field input {
    width: 358px;
    height: 50px;
    margin: 0;
    padding: 0 15px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $secondary-color;
}

.footer-field label {
    margin-bottom: 20px;
}

.send-call {
    font-weight: 700;
}

.subscr-but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 5px;
    margin-left: 12px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $secondary-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $cubic-function;

    &:hover,
    &:focus {
        background-color: $active-button;
        }
}

.send-icon {
    margin-left: 10px;
}