.header-sect {
    border-bottom: 1px solid #ECECEC;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 59px;
    @media screen and (min-width: $tablet-breakpoint) {
        min-height: 79px;
    }
}