.hero-sect {
    padding: 118px 0;
    background-color: $secondary-background-color;
    text-align: center;

    @media screen and (min-width: $desktop-breakpoint) {
        padding: 200px 0;
    }
}

.hero-bg {
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-size: 480px 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mobile.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mobile@2x.jpg);
    }

    @media screen and (min-width: $tablet-breakpoint) {
        max-width: 768px;
        background-size: 768px 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero-bg-tablet.jpg);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero-bg-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: $desktop-breakpoint) {
        height: 600px;
        max-width: 1600px;
        background-size: 1600px 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url(../images/hero-bg-desktop@2x.jpg);
        }
    }
}

.hero-sect__header {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $secondary-color;

    @media screen and (min-width: $desktop-breakpoint) {
        max-width: 700px;
        font-size: 44px;
        line-height: 1.36;
    }
}


.hero-sect__button {
    min-width: 200px;
    border-radius: 4px;
    padding: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $secondary-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $cubic-function;

    &:hover,
    &:focus {
        background-color: $active-button;
    }
    
    @media screen and (min-width: $desktop-breakpoint) {
        min-width: 216px;
    }
}