.logo {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-align: center;

    color: $secondary-logo-color;
    @media screen and (min-width: $desktop-breakpoint) {
    font-size: 26px;
    line-height: 1.19;
    text-align: left; 
    }
}

.logo--accent {
    color: $accent-color;
}

.logo--bright {
    display: block;
    margin-bottom: 20px;
    color: $secondary-color;
}