$main-color: #757575;
$accent-color: #2196f3;
$header-color: #212121;
$active-button: #188ce8;
$secondary-logo-color: #000000;
$secondary-color: #ffffff;
$main-background-color: #ffffff;
$secondary-background-color: #2f303a;
$footer-links: rgba(255, 255, 255, 0.6);
$filter-bg: #f5f4fa;
$card-set-gap: 30px;
$icon-color: #AFB1B8;
$cubic-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);